@font-face {
    font-family: "gg sans";
    src: url("gg-sans.ttf");
}

* {
    font-family: "gg sans";
    font-weight: lighter;
}

body {
    background-color: #222222;
}

/*  */

.animation-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.animation-container.hidden {
    opacity: 0;
}

#animation-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .4);
    font-size: min(8vw, 100px);
    line-height: 1em;
    animation: fadeInUp 1s ease-in-out forwards;
    cursor: default;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(-150px);
        filter: contrast(.7) brightness(.9);
    }

    100% {
        transform: none;
        filter: none;
    }
}

.notification-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    display: none;
    color: #ffffff;
    animation: fadeInUp2 1s ease-in-out forwards;
}

.notification-container.visible {
    display: block;
}

@keyframes fadeInUp2 {
    0% {
        transform: translateY(-120px);
        filter: contrast(.7) brightness(.9);
    }

    100% {
        transform: none;
        filter: none;
    }
}

/* Filter */

#filter-options {
    display: none;
    z-index: -1100;
}

#filter-options.opened {
    z-index: 10;
}

#filter-options.block {
    display: block;
    z-index: 1000;
}

#filter-button {
    position: absolute;
    top: 29.7%;
    left: 80%;
    font-size: 18px;
    padding: 12px 24px;
    color: #fff !important;
    background-color: rgb(24, 23, 23);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.filter-option {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

#op1,
#op2,
#op3 {
    top: 40%;
    left: 81%;
    z-index: -1;
}

.slide-animation {
    animation: slideToLeft 0.5s ease-in-out forwards;
}

@keyframes slideToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}